.button {
  cursor: pointer;
  width: 20%;
  max-width: 115px;
  min-width: 70px;
  height: 75px;
  border: none;
  border-radius: 20%;
  background-color:lightblue;
  font-size: 0.4em;
}

.button:active {
  box-shadow: inset 0 0 0.1em;
  font-size: 0.38em;
}

.button--half {
  cursor: default;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
}

.button--half:active {
  box-shadow: none;
}

.half-button {
  cursor: pointer;
  border: none;
  border-radius: 20%;
  flex-basis: 46% ;
  background-color: rgb(85, 190, 226);
  font-size: 1em;
}

.half-button:active {
  box-shadow: inset 0 0 0.1em;
}