.button {
  cursor: pointer;
  width: 20%;
  max-width: 115px;
  min-width: 70px;
  height: 75px;
  border: none;
  border-radius: 20%;
  background-color:lightblue;
  font-size: 0.4em;
}

.button--half {
  cursor: default;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
}

.half-button {
  cursor: pointer;
  border: none;
  border-radius: 20%;
  border: 1px grey solid;
  flex-basis: 46% ;
  background-color: rgb(85, 190, 226);
  font-size: 1em;
}